@font-face {
  font-family: "PT Sans";
  font-style: "normal";
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: "normal";
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.main-navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 500px;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  max-width: 310px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link:hover {
  opacity: 0.8;
}

.navigation-link:focus {
  outline: 3px solid #83B3D3;
}

.navigation-link:active {
  outline: none;
  opacity: 0.6;
}

.search-header-link{
  background-image: url("../images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.favourites-header-link{
  background-image: url("../images/icon-favourites.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  position: relative;
}

.main-header {
  background-color: #FFFFFF;
}

.main-header-logo {
  position: absolute;
  z-index: 1;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
}

.navigation-link {
  display: inline-block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  text-align: center;
  position: relative;
}

.navigation-user-link {
  display: block;
  min-width: 44px;
  min-height: 64px;
}

.navigation-user-link:hover {
  opacity: 0.8;
}

.navigation-user-link:focus {
  outline: 3px solid #83B3D3;
}

.navigation-user-link:active {
  opacity: 0.6;
}

.navigation-link-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  padding: 8px 34px;
  margin-top: 14px;
  margin-left: 20px;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
}

.navigation-link-button:hover {
  background: #615048;
}

.navigation-link-button:focus {
  background: #615048;
}

.navigation-link-button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background: #F2F2F2;
}

.shadow-wrapper {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.welcome-header {
  background-color: #82B3D3;
  background-image: url("../images/welcome-border.svg"), url("../images/background-welcome.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 51px;
  padding-bottom: 81px;
}

.welcome-header-picture-vector {
  display: block;
  margin-right:auto;
  margin-left: auto;
}

.description {
  padding-top: 69px;
  padding-bottom: 90px;
  background: #FFFFFF;
}

.description-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  max-width: 620px;
  margin: 0 auto 25px auto;
}

.hotel-search-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.hotel-search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.description-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.hotel-search-subtitle {
  margin-top: 0;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-left: auto;
  margin-right: auto;
  width: 592px;
}

.advantages {
  background: #FFFFFF;
}

.advantages-wrapper {
  display: flex;
  width: 1200px;
 flex-wrap: wrap;
}

.advantages-img-wrapper {
  display: flex;
}

.advantages-img-bridge {
  order: -1;
  display: block;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding-left: 85px;
  padding-right: 85px;
}

.second-line {
  padding-top: 103px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 62px;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}

.advantages-title:not(.title-third-line)::before {
  position: absolute;
  right: 85px;
  left: 85px;
  bottom: -30px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.background-blue .advantages-title::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.title-third-line {
  margin-bottom: 30px;
}

.advantages-description {
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-bottom: 20px;
}

.third-line {
  padding-top: 182px;
}

.background-white {
  background-color: #FFFFFF;
}

.background-blue {
  background-color: #82B3D3;
  color: #FFFFFF;
  padding-top: 92px;
}

.background-grey {
  background-color: rgba(131, 179, 211, 0.12);
}

.background-dark-grey {
  background-color: rgba(131, 179, 211, 0.2);
}

.white-letters {
 color: #FFFFFF;
}

.accomodation {
  background-image: url("../images/features-accomodation-icon.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
  background-size: 75px 72px;
}

.food {
  background-image: url("../images/features-food-icon.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
  background-size: 75px 72px;
}

.souvenirs {
  background-image: url("../images/features-souvenirs-icon.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
  background-size: 64px 76px;
}

.hotel-search {
  background: #FFFFFF;
}

.hotel-search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 376px;
  box-sizing: border-box;
  padding: 8px 50px;
  border-radius: 4px;
}

.hotel-search-button:hover {
  background: #615048;
}

.hotel-search-button:focus {
  background: #615048;
}

.hotel-search-button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.subscription {
  background-image: url("../images/background-subscription.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #756157;
  padding-top: 96px;
  padding-bottom: 104px;
  padding-left: 20px;
  padding-right: 20px;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscription-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  max-width: 475px;
  margin: 0 auto 54px auto;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

input[type=email]::placeholder {
font-family: 'PT Sans', sans-serif;
font-size: 18px;
line-height: 24px;
}

.email-form {
  min-width: 432px;
  background: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  border-color: transparent;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}


.email-form:hover {
  background: #E6E6E6;
}

.email-form:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.email-form:active {
  background: #E6E6E6;
  outline: 2px solid #000000;
}

.email-form:disabled {
  background: #E6E6E6;
}

.subscription-button {
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color:  #82B3D3;
  border: none;
  padding: 8px 50px;
  border-radius: 0px 4px 4px 0px;
}

.subscription-button:hover {
  background: #68A2CA;
  cursor: pointer;
}

.subscription-button:focus {
  background: #68A2CA;
}

.subscription-button:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.subscription-button:disabled {
  background: #E6E6E6;
}

.main-footer {
  background: #FFFFFF;
}

.main-footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  max-width: 720px;
}

.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.main-footer {
  padding-top: 45px;
  padding-bottom: 30px;
}

.main-footer-social {
  width: 242px;
  margin-right: 136px;
}

.main-footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.social-button {
  display: inline-block;
  min-width: 47px;
  min-height: 40px;
  fill: #83B3D3;
}

.social-button:hover .social-icon {
  fill: #68A2CA;;
}

.social-button:focus .social-icon {
  fill:  #68A2CA;
}

.social-button:active .social-icon {
  fill:  rgba(104, 162, 202, 0.3);
}

.main-footer-contacts {
  width: 331px;
}
.main-footer-contacts-phone {
  display: block;
}

.main-footer-contacts-phone:hover {
  color: #756157;
}

.main-footer-contacts-phone:focus {
  color: #756157;
}

.main-footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.created-by-logo {
  display: block;
  margin-left: 236px;
  margin-top: 5px;
}

.html-academy-logo {
  fill: #000000;
  width: 115px;
  height: 33px;
}

.html-academy-link:hover .html-academy-logo {
  fill: #756157;
}

.html-academy-link:focus .html-academy-logo {
  fill: #756157;
}

.html-academy-link:active .html-academy-logo {
  fill: rgba(117, 97, 87, 0.3);
}

.sorting-container {
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #756157;
  color: #FFFFFF;
  padding: 35px 70px 38px 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
}

.catalog-filter {
  display: flex;
  margin: 0;
  padding: 0;
}

.infrastructure {
  min-width: 150px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.accomodation-type {
  min-width: 150px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
  margin-right: 140px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;;
  border-radius: 50%;
  content: "";
}

.control {
  position: relative;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 3px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  background-image: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 12px;
  height: 9px;
  top: 5px;
  left: 4px;
}

.control:hover  {
  opacity: 60%;
  cursor: pointer;
}

.control-input:focus + .control-mark  {
  outline: 3px solid #83B3D3;
}

.control:active {
  opacity: 30%;
}

.control-input:disabled + .control-mark {
  background-color: #F2F2F2;
}

.filter-buttons {
  margin-top: 56px;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.price {
  max-width: 288px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.select-control {
  padding: 8px 14px;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 14px;
  padding-right: 40px;
  font: inherit;
  font-weight: 400;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url("../images/icon-arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  -webkit-appearance: none;
          appearance: none;
}

.select-control:hover {
  border: 2px solid #68A2CA;
  cursor: pointer;
}

.select-control:focus {
  border-color:  #68A2CA;

}

.select-control:active {
  border-color:  #3F5E72;
}

.catalog-filter-list {
  margin: 0;
  padding:0;
  list-style-type: none;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-right: 28px;
}

.breadcrumbs-main-svg {
  fill: #FFFFFF;
  width: 12px;
  height: 12px;
}

.breadcrumbs-main-svg:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-main-svg:focus {
  fill: #FFFFFF;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-main-svg:active {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-hotel {
  position: relative;
}

.breadcrumbs-item:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:focus {
  color: #FFFFFF;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-item:active {
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.breadcrumbs-hotel::before {
  content: url("../images/icon-arrow.svg");
  position: absolute;
  left: -15px;
  width: 8px;
  height: 20px;
}

.breadcrumbs-link {
  cursor: pointer;
}

.button {
  padding: 5px 50px;
  border-radius: 4px;
  margin-bottom: 32px;
  cursor: pointer;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 288px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border-color: transparent;
}

.range-toggle:hover {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  width: 288px;
  margin-bottom: 36px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 2px;
}

.range-input {
  width: 143px;
  padding: 0 2px;
  font: inherit;
  text-align:start;
  background-color: #F2F2F2;
  border-color: transparent;
  -webkit-appearance: textfield;
          appearance: textfield;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 7px;
  padding-left: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 9px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.range-input-first {
  border-radius: 4px 0px 0px 4px;
}

.range-input-second {
  border-radius: 0px 4px 4px 0px;
}

.from-label {
  position: absolute;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
  right: 20px;
  top: 12px;
}

.to-label {
  position: absolute;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
  right: 20px;
  top: 12px;
}

.catalog-filter-label {
  position: relative;
}

.range-input:focus  {
  outline: 3px solid #83B3D3;
}

.range-input:active {
  outline: 2px solid #000000;
}

.small-items {
  background-image: url("../images/display-small-items.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.big-items {
  background-image: url("../images/display-large-items.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.list-items {
  background-image: url("../images/display-list-items.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.display-item {
  margin-bottom: 5px;
}

.display-current {
  border-color: #000000;
}

.small-items:hover {
  border: 2px solid #000000;
}

.big-items:hover {
  border: 2px solid #000000;
}

.list-items:hover {
  border: 2px solid #000000;
}

.small-items:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.big-items:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.list-items:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.small-items:active {
  border: 2px solid #000000;
}

.big-items:active {
  border: 2px solid #000000;
}

.list-items:active {
  border: 2px solid #000000;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.sorting-wrapper {
  display: flex;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  background: #FFFFFF;
}

.display-sorting-buttons {
  margin: 0;
  padding: 0;
  min-width: 170px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.sorting-button {
  display: block;
  margin-right: 8px;
  min-width: 48px;
  min-height: 48px;
  box-sizing: border-box;
}

.button{
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color:transparent;
  border: 3px solid transparent;
  border-radius: 4px;
  width: 191px;
  box-sizing: border-box;
}

.button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button:focus {
  color: #FFFFFF;
  outline: 3px solid #83B3D3;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-apply {
  background-color: #82B3D3;
}

.button-apply:hover {
  background: #68A2CA;
}

.button-apply:focus {
  background: #68A2CA;
}

.button-apply:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.hotels-search {
  min-width: 338px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
  margin-top: 4px;
  padding: 0;
}

.select-control {
  min-width: 292px;
  margin-right: 70px;
}

.hotel-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 75px;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
}

.hotel-list-wrapper {
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 70px;
  background: #FFFFFF;
}

.hotel-card {
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  box-sizing: border-box;
}

.hotel-card-inner-wrapper {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 22px;
  row-gap: 16px;
}

.hotel-list {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
  min-width: 300px;
  padding-bottom: 1px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-image {
  margin-bottom: 13px;
}

.hotel-card-subtitle,
.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.hotel-card-price {
  margin-left: auto;
}

.hotel-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 4px;
}

.stars {
  background: url("../images/icon-star.svg");
  background-position: center;
  background-repeat: space;
  height: 17px;
  margin: 0;
  margin-top: 10px;
}

.hotel-stars-five {
  width: 100px;
}

.hotel-stars-four {
  width: 89px;
}

.hotel-stars-three {
  width: 66px;
}

.hotel-stars-two {
  width: 42px;
}

.hotel-stars-one {
  width: 18px;
}

.hotel-description {
  background-color: #756157;
  padding: 8px 26px;
}

.hotel-description:hover {
  background: #615048;
}

.hotel-description:focus {
  background: #615048;
}

.hotel-description:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.favourites {
  background-color: #82B3D3;
  padding-top: 8px;
}

.favourites:hover {
  background: #68A2CA;
}

.favourites:focus {
  background: #68A2CA;
}

.favourites:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.favourites-active {
  background-color: #7DB54F;
  padding-top: 8px;
}

.favourites-active:hover {
  background: #6C9E42;
}

.favourites-active:focus {
  background: #6C9E42;
}

.favourites-active:active {
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.rank {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  margin: 0;
  background-color:#F2F2F2;
  text-align: center;
  padding: 8px 22px;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  padding: 11px 24px 12px 23px;
  border-radius: 4px;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:focus {
  background: #68A2CA;
}

.pagination-link:focus {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item {
  margin-right: 8px;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 10px;
}

.two-digit {
  padding-left: 17px;
  padding-top: 11px;
  padding-right: 18px;
  padding-bottom: 12px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-current:hover {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-current:focus {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-current:active {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-next {
  background: url("../images/icon-other-pages.svg");
  background-repeat: no-repeat;
  height: 26px;
  width: 17px;
  display: block;
  width: 17px;
  height: 26px;
  padding: 17px 22px;
}

.subscription-catalog {
  background-color: #FFFFFF;
  padding-top: 96px;
  padding-left: 258px;
  padding-right: 258px;
  padding-bottom: 104px;
}

.subscription-title-catalog {
  color: #000000;
}

.subscription-subtitle-catalog {
  color: #333333;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  max-width: 475px;
  margin: 0 auto 54px auto;
}

.modal-container {
position: fixed;
top: 0;
left: 0;
display: flex;
width: 100%;
height: 100%;
background-color: rgba(242, 242, 242, 0.8);
z-index: 1;
}

.modal-form {
  padding: 0;
  margin: 0;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
}

.modal-hotel-search {
  max-width: 577px;
  border-radius: 30px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}


.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #F2F2F2;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  outline: transparent;
}

.modal-close-button:active .close-icon {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 20px;
}

.field-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.field {
  width: 440px;
}

.field:hover {
  background: #E6E6E6;
}

.field:focus {
  outline: 3px solid #83B3D3;
}

.field:active {
  outline: 2px solid #000000;
}

.field:disabled {
  background: #F2F2F2;
}

.field::placeholder {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.adults-children{
  display: flex;
  margin-bottom: 48px;
  width: 577px;
}

.check-in-date {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 24px;
  align-self: center;
}

.check-out-date {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 18px;
  align-self: center;
}

.error-message {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
  margin-left: 155px;
}

.message {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-left: 155px;
}

.field {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  background: #F2F2F2;
  border-radius: 4px;
  border-color: transparent;
  box-sizing: border-box;
}

.date-wrapper {
  margin-bottom: 23px;
  position: relative;
}

.children-count-wrapper,
.adults-count-wrapper {
  display: flex;
}

.adults-count-wrapper {
  margin-right: 88px;

}

.adults-count-input,
.children-count-input {
  margin: 0;
  display: block;
  width: 32px;
  height: 48px;
  text-align: center;
  box-sizing: border-box;
  border-color: transparent;
  background-color: #F2F2F2;
}

.minus-btn {
  margin: 0;
  box-sizing: border-box;
  width: 40px;
  height: 48px;
  align-self: center;
  background-image: ;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
  border-color: transparent;
}

.plus-btn {
  margin: 0;
  box-sizing: border-box;
  right: 0;
  width: 40px;
  height: 48px;
  align-self: center;
  background-image: ;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-radius: 0 4px 4px 0;
  background-color: #F2F2F2;
  border-color: transparent;
}

.adults-count {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-self: center;
  min-width: 91px;
  margin-right: 46px;
}

.children-count {
  font-family: 'PT Sans',sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-self: center;
  margin-right: 10px;
}

.modal-search-button {
  width: 577px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 10px;
  border-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
}

.modal-search-button:hover {
  background: #68A2CA;
}

.modal-search-button:focus {
  background: #68A2CA;
}

.modal-search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal-search-button:disabled {
  background: #F2F2F2;
}

.field {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.modal-input {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 5px;
}

.calendar-check-in {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 20px;
  top: 16px;
  background-image: url("../images/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.calendar-check-out {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 20px;
  top: 16px;
  background-image: url("../images/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.tooltip-toggle {
  background-image: url("../images/icon-tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  margin-right: 46px;
}

.tooltip-text {
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  display: block;
  width: 216px;
  padding-top: 20px;
  padding-bottom: 23px;
  padding-left: 22px;
  padding-right: 18px;
  position: absolute;
  top: 409px;
  left: 478px;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.children {
  align-self: center;
  display: flex;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
display: block;
}

.tooltip-text:after {
  content:'';
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.modal-container-closed {
  display: none;
}

.favourites-header-number {
  min-width: 20px;
  min-height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #FFFFFF;
  position: absolute;
  text-align: center;
  top: 10px;
  right: 3px;
}

.close-icon {
  display: block;
  min-width: 14px;
  min-height: 14px;
  margin: auto;
}

.minus-icon {
  display: block;
  margin: auto;
  opacity: 30%;
}

.plus-icon {
  display: block;
  margin: auto;
  opacity: 30%;
}

.minus-btn:hover .minus-icon {
  opacity: 100%;
  cursor: pointer;
}

.minus-btn:focus {
  outline: none;
}

.minus-btn:focus .minus-icon {
  opacity: 100%;
  border: 3px solid #82B3D3;
  border-radius: 4px;
}

.minus-btn:active .minus-icon {
  opacity: 30%;
  border: transparent;
}

.minus-btn:disabled .minus-icon {
  background: #F2F2F2;
}

.plus-btn:hover .plus-icon {
  opacity: 100%;
  cursor: pointer;
}

.plus-btn:focus {
  outline: none;
}

.plus-btn:focus .plus-icon {
  opacity: 100%;
  border: 3px solid #82B3D3;
  border-radius: 4px;
}

.plus-btn:active .plus-icon {
  opacity: 30%;
  border: transparent;
}

.plus-btn:disabled .plus-icon {
  background: #F2F2F2;
}
